In [3]:
#1
import pandas as pd

In [4]:
import os
from pathlib import Path
df = pd.read_csv(os.path.join(str(Path(os.getcwd())) ,'data/singapore_airlines_reviews.csv'))
df = df.drop(columns = ['published_date','published_platform', 'helpful_votes'])
df

,rating,type,text,title
0,3,review,We used this airline to go from Singapore to L...,Ok
1,5,review,The service on Singapore Airlines Suites Class...,The service in Suites Class makes one feel lik...
2,1,review,"Booked, paid and received email confirmation f...",Don’t give them your money
3,5,review,"Best airline in the world, seats, food, servic...",Best Airline in the World
4,2,review,Premium Economy Seating on Singapore Airlines ...,Premium Economy Seating on Singapore Airlines ...
...,...,...,...,...
9995,5,review,First part done with Singapore Airlines - acce...,"Flew to NZ 1st half Singapore Airlines, 2nd ha..."
9996,5,review,And again a great Flight with Singapore Air. G...,Best Airline
9997,5,review,"We flew business class from Frankfurt, via Sin...",Superb service on Singapore Airlines
9998,4,review,"As always, the A380 aircraft was spotlessly pr...",A Comfortable Fiight Spoiled by lack of adequa...
9999,4,review,"As always, Singapore Airlines has done it agai...",Delivered as expected :)

In [62]:
df['type'].unique()

array(['review'], dtype=object)

In [63]:
df = df.drop(columns=['type'])
df

,rating,text,title
0,3,We used this airline to go from Singapore to L...,Ok
1,5,The service on Singapore Airlines Suites Class...,The service in Suites Class makes one feel lik...
2,1,"Booked, paid and received email confirmation f...",Don’t give them your money
3,5,"Best airline in the world, seats, food, servic...",Best Airline in the World
4,2,Premium Economy Seating on Singapore Airlines ...,Premium Economy Seating on Singapore Airlines ...
...,...,...,...
9995,5,First part done with Singapore Airlines - acce...,"Flew to NZ 1st half Singapore Airlines, 2nd ha..."
9996,5,And again a great Flight with Singapore Air. G...,Best Airline
9997,5,"We flew business class from Frankfurt, via Sin...",Superb service on Singapore Airlines
9998,4,"As always, the A380 aircraft was spotlessly pr...",A Comfortable Fiight Spoiled by lack of adequa...
9999,4,"As always, Singapore Airlines has done it agai...",Delivered as expected :)

In [64]:
df = df.dropna()
df

,rating,text,title
0,3,We used this airline to go from Singapore to L...,Ok
1,5,The service on Singapore Airlines Suites Class...,The service in Suites Class makes one feel lik...
2,1,"Booked, paid and received email confirmation f...",Don’t give them your money
3,5,"Best airline in the world, seats, food, servic...",Best Airline in the World
4,2,Premium Economy Seating on Singapore Airlines ...,Premium Economy Seating on Singapore Airlines ...
...,...,...,...
9995,5,First part done with Singapore Airlines - acce...,"Flew to NZ 1st half Singapore Airlines, 2nd ha..."
9996,5,And again a great Flight with Singapore Air. G...,Best Airline
9997,5,"We flew business class from Frankfurt, via Sin...",Superb service on Singapore Airlines
9998,4,"As always, the A380 aircraft was spotlessly pr...",A Comfortable Fiight Spoiled by lack of adequa...
9999,4,"As always, Singapore Airlines has done it agai...",Delivered as expected :)

In [65]:
import re
df['text'] = [re.sub(r'[^\w\s]','', i) for i in list(df['text']) ]
tittle = [re.sub(r'[^\w\s]','', i) for i in list(df['title']) ]
df['text'] = [tittle[i]+" "+text for i,text in enumerate(list(df['text']))]
df = df.drop(columns='title')
df

/var/folders/p1/8s9_fqq533b0tkl0412p4btrr53559/T/ipykernel_33462/3150219481.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = [re.sub(r'[^\w\s]','', i) for i in list(df['text']) ]
/var/folders/p1/8s9_fqq533b0tkl0412p4btrr53559/T/ipykernel_33462/3150219481.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = [tittle[i]+" "+text for i,text in enumerate(list(df['text']))]

      rating                                               text
0          3  Ok We used this airline to go from Singapore t...
1          5  The service in Suites Class makes one feel lik...
2          1  Dont give them your money Booked paid and rece...
3          5  Best Airline in the World Best airline in the ...
4          2  Premium Economy Seating on Singapore Airlines ...
...      ...                                                ...
9995       5  Flew to NZ 1st half Singapore Airlines 2nd hal...
9996       5  Best Airline And again a great Flight with Sin...
9997       5  Superb service on Singapore Airlines We flew b...
9998       4  A Comfortable Fiight Spoiled by lack of adequa...
9999       4  Delivered as expected  As always Singapore Air...

[9999 rows x 2 columns]

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
train_df,test_df = train_test_split(df)

vectorizer = TfidfVectorizer()
vectorizer.fit(list(df['text']))
test = vectorizer.transform(list(test_df['text'])).toarray()
train = vectorizer.transform(list(train_df['text'])).toarray()
print(train.shape, test.shape)

(7499, 24022) (2500, 24022)

In [56]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(train, train_df['rating'])

In [13]:
pred = clf.predict(test)

In [57]:
test_df['rating'].value_counts()

rating
5    1376
4     483
1     262
3     237
2     142
Name: count, dtype: int64

In [58]:
from sklearn.metrics import precision_score,recall_score
print(precision_score(list(test_df['rating']), pred, average='macro'),recall_score(list(test_df['rating']), pred, average='macro'))

0.12845716882526698 0.19916563110243207

/Users/21311064/Library/Python/3.11/lib/python/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Классы несбалансированые, поэтому посмотрим на макро precision_score,recall_score, чтобы у малочисленных классов тоже была важность, как видим, результаты не очень

In [66]:
#2
import nltk
nltk.download("stopwords")

from nltk.corpus import stopwords
from pymystem3 import Mystem
from string import punctuation

mystem = Mystem() 
russian_stopwords = stopwords.words("english")

def preprocess_text(text):
    tokens = mystem.lemmatize(text.lower())
    tokens = [token for token in tokens if token not in russian_stopwords\
              and token != " " \
              and token.strip() not in punctuation]
    
    text = " ".join(tokens)
    
    return text

df['text'] = [preprocess_text(i) for i in list(df['text'])]

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1006)>

In [67]:
train_df,test_df = train_test_split(df)

vectorizer = TfidfVectorizer()
vectorizer.fit(list(df['text']))
test = vectorizer.transform(list(test_df['text'])).toarray()
train = vectorizer.transform(list(train_df['text'])).toarray()
print(train.shape, test.shape)
clf = LogisticRegression(random_state=0).fit(train, train_df['rating'])
pred = clf.predict(test)
print(precision_score(list(test_df['rating']), pred, average='macro'),recall_score(list(test_df['rating']), pred, average='macro'))

(7499, 23791) (2500, 23791)
0.5218301939147467 0.4568002948086768

In [70]:
from sklearn import svm
clf = svm.SVC()
clf.fit(train, train_df['rating'])
pred = clf.predict(test)
print(precision_score(list(test_df['rating']), pred, average='macro'),recall_score(list(test_df['rating']), pred, average='macro'))

0.45787707333921357 0.4419351380734652

In [68]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(train, train_df['rating'])
pred = knn.predict(test)
print(precision_score(list(test_df['rating']), pred, average='macro'),recall_score(list(test_df['rating']), pred, average='macro'))

0.429069704819706 0.3877275333383657

In [69]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(train, train_df['rating'])
pred = model.predict(test)
print(precision_score(list(test_df['rating']), pred, average='macro'),recall_score(list(test_df['rating']), pred, average='macro'))

0.2860272384815995 0.22183098591549294

/Users/21311064/Library/Python/3.11/lib/python/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

Как видим, лучше всего логистическая регрессия

In [71]:
clf = LogisticRegression(random_state=0).fit(train, train_df['rating'])
proba = clf.predict_proba(test)

In [73]:
from sklearn.metrics import roc_auc_score
roc_auc_score(list(test_df['rating']), proba, multi_class='ovr')

0.8775677617448195

In [74]:
pos_text = vectorizer.transform([preprocess_text('Great airline campaign! I will fly with them again! successful flight')]).toarray()
neg_text = vectorizer.transform([preprocess_text('Terrible service... disgusting food, rude staff and very little space on the plane')]).toarray()

In [75]:
print(clf.predict(pos_text), clf.predict(neg_text))

[5] [1]

Работет!

In [81]:
len(clf.coef_[0])

23791

In [90]:
#3
weight_neg = pd.DataFrame({'words': vectorizer.get_feature_names_out(), 'weights': clf.coef_[0]}).sort_values(by='weights', ascending = False)
weight_pos = pd.DataFrame({'words': vectorizer.get_feature_names_out(), 'weights': clf.coef_[4]}).sort_values(by='weights', ascending = False)

In [94]:
weight_pos['words'][:20]

3786              best
8471         excellent
10224            great
2605           amazing
8858         fantastic
5520       comfortable
2593            always
23392        wonderful
21095            thank
10747           highly
3364           awesome
10664          helpful
17020        recommend
15500          perfect
23075             well
8494       exceptional
20568           superb
5516           comfort
5278             clean
8191     entertainment
Name: words, dtype: object

In [95]:
weight_neg['words'][:20]

23459        worst
21051     terrible
14291        never
6488      customer
17894         rude
7479          dont
13898        money
21324       ticket
4605     cancelled
15952         poor
4077       booking
12967         lost
10925     horrible
23455        worse
17136       refund
13923       months
7990         email
5930       contact
3445           bad
13052      luggage
Name: words, dtype: object

In [104]:
def prepare(text):
    return  vectorizer.transform([preprocess_text(text)]).toarray()
neg = ['thanks for ruining my vacation, I didn’t like it', 
'the flight was absolutely not comfortable, I always flew perfectly, this was the first time I encountered something like this',
'well, I am extremely upset, the flight was postponed',
'Never fly with this airline, I hope my review is helpful',
'I can’t recommend this airline to you because I didn’t like it'
]
for i in neg:
    print(clf.predict(prepare(i)))

[5]
[5]
[5]
[5]
[5]

In [124]:
pos = ['no luggage was lost, we arrived on time, I will fly with this airline again',
'I bought a ticket to Paris, but due to the weather the flight was canceled, they apologized to me and quickly returned the money, not bad service',
'I don’t regret spending money at all, I never thought that a flight could be so good',
'I bought a ticket for a month to Bali, the flight was goooood',
'a very rude woman was sitting in front of me, but despite this the staff behaved politely, respect'
]
for i in pos:
    print(clf.predict(prepare(i)))

[1]
[1]
[1]
[1]
[1]

Как видим, для того, чтобы обнануть алгоритм достаточно использовать резко позитивные или резко негативные слова и стараться не использовать противоположные(также их можно заменять орфографическими ошибками или сленгом)